@model SportsStore2.Domain.Entities.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.Name</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            @Html.HiddenFor(e => e.ProductID)
            <div class="panel-body">
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    <div class="form-group">
                        @if (property.PropertyName != "ProductID" && property.PropertyName != "ImageData" && property.PropertyName != "ImageMimeType")
                        {
                            <label>@property.PropertyName</label>

                            if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, new { @class = "form-control", rows = 2 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
                <a href="#" onclick="$('#Image').trigger('click'); return false;" style="position:relative;">
                    Product Image
                    <input type="file" id="Image" name="Image" style="position:absolute;top:0px;left:0px;opacity:0" onchange="$('#lblFilePath').html($(this).val())" />
                </a>
                <div>
                    <span class="text-info" id="lblFilePath"></span>
                </div>
                @if (Model.ImageData != null)
                {
                    <div>
                        <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Product", new { p_ProductID=Model.ProductID})" />
                    </div>
                }
            </div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-primary" value="Save" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>